{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">    
    <meta name="description" content="">
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    
    <!-- PAGE TITLE HERE -->
    <title>SunRay-Projects</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    
    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">    
    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.min.css' %}">    
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
        <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.min.css' %}"> 
    
    <!-- IMAGE POPUP -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lc_lightbox.css' %}">
    
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'css/skin/skin-1.css' %}">
    <!-- SIDE SWITCHER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/switcher.css' %}">  
     
 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">
        
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&amp;display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap" rel="stylesheet"> 
  <style>
    /* Custom styles here */
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
<div>
<!-- Navigation -->
<div>
    <!-- Navigation -->
    <header class="site-header header-style-11  mobile-sider-drawer-menu">
        <div class="header-style-11-content" style="margin-top: -50px;" >
             <div class="header-middle-wraper">     
                <div class="container">
                    <div class="header-middle d-flex justify-content-between align-items-center">
                        <div class="logo-header pt-3 pb-3">
                            <div class="logo-header-inner logo-header-one">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'images/extra/logo.png' %}" alt="" width="200px" height="160px"  style="margin-top:30px;">
                                </a>
                            </div>
                        </div>
                        
                        
                        <div class="header-info-wraper" style="margin-top: 25px;" >
                          <div class="header-info">
                              <ul>
                                  <li>
                                      <div class="wt-icon-box-wraper left" style="margin-right: 60px; margin-top: 15px;">
                                          <div class="wt-icon-box-xs site-bg-primary radius">
                                              <span class="icon-cell site-text-white"><i class="fa fa-envelope"></i></span>
                                          </div>
                                          <div class="icon-content">
                                              <p style="text-align: left;font-size: 14px;">Send Us Email</p>
                                              <h4 class="wt-tilte">  <a href="mailto:contact@sunraysol.com">contact@sunraysol.com</a></h4>
                                            <br>
                                            
                                          </div>
                                      </div>
                                  </li>   
                                                               
                      
                                  <li>
                                      <div class="wt-icon-box-wraper left">
                                          <div class="wt-icon-box-xs site-bg-primary radius">
                                              <span class="icon-cell site-text-white"><i class="fa fa-phone"></i></span>
                                          </div>
                                          <div class="icon-content">
                                              <p style="text-align: left;font-size: 14px;">Get Quick Support </p>
                                              <h4 class="wt-tilte" style="text-align: left" >Tel: 0824 2215291 ,Mob:9538010100-karnataka<br>
                                             <span >Mob:7907668181-Kerala</span> </h4>
              
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
    
    
    
                    </div>
                </div>
             </div>
            <div class="header-bottom"> 
                
                <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                
                    <div class="main-bar header-bottom">
                        <div class="container-block clearfix">
    
                            <div class="navigation-bar">
                                <!-- NAV Toggle Button -->
                                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar icon-bar-first"></span>
                                    <span class="icon-bar icon-bar-two"></span>
                                    <span class="icon-bar icon-bar-three"></span>
                                </button> 
        
                                <!-- MAIN Vav -->
                                <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-between">
                            
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'index' %}">Home</a>

                                        </li>

                                        <li><a href="{% url 'about' %}">About</a>

                                        </li>
                                        <li><a href="{% url 'services' %}">Gallery</a>

                                        </li>
                                        <li><a href="{% url 'project_list' %}">Project</a></li>

    

                                        <li><a href="{% url 'contacts' %}">Contact us</a></li>
                                    </ul>
        
                                </div>
                                
                                <!-- Header Right Section-->
                                {% comment %} <div class="extra-nav header-1-nav">
                                    <!-- <div class="extra-cell one">
                                        <div class="header-search">
                                            <a href="#search-two" class="header-search-icon"><i class="fa fa-search"></i></a>
                                        </div>    
                                    </div> -->
                                    <div class="extra-cell two">
                                        <div class="extra-cell one">
                                            <div class="header-search">
                                                <a href="#search-two" class="header-search-icon"><i class="fa fa-search"></i></a>
                                            </div>    
                                        </div>
                                        
                                        <div class="cart-dropdown-item-wraper clearfix">
                                            <div class="nav-cart-content">
                                                
                                                <div class="nav-cart-items p-a15">
                                                    <div class="nav-cart-item clearfix">
                                                        <div class="nav-cart-item-image">
                                                            <a href="#"><img src="{% static 'images/home-11/cart/pic-1.jpg' %}" alt="p-1"></a>
                                                        </div>
                                                        <div class="nav-cart-item-desc">
                                                            <span class="nav-cart-item-price"><strong>2</strong> x $19.99</span>
                                                            <a href="#">Heavy helmet</a>
                                                            <a href="#" class="nav-cart-item-quantity radius-sm">x</a>
                                                        </div>
                                                    </div>
                                                    <div class="nav-cart-item clearfix">
                                                        <div class="nav-cart-item-image">
                                                            <a href="#"><img src="{% static 'images/home-11/cart/pic-1.jpg' %}" alt="p-2"></a>
                                                        </div>
                                                        <div class="nav-cart-item-desc">
                                                            <span class="nav-cart-item-price"><strong>1</strong> x $24.99</span>
                                                            <a href="#">Power drill</a>
                                                            <a href="#" class="nav-cart-item-quantity radius-sm">x</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nav-cart-title p-tb10 p-lr15 d-flex">
                                                    <h4 class="m-a0">Subtotal:</h4>
                                                    <h5 class="m-a0">$67.97</h5>
                                                </div>
                                                <div class="nav-cart-action p-a15 d-flex justify-content-start">
                                                    <button class="site-button" type="button">View Cart</button>
                                                    <button class="site-button-secondry" type="button">Checkout </button>
                                                </div>
                                            </div>
                                        </div>                            
                                    </div>                                
                                </div>  {% endcomment %}
    
                            </div>
                            
                        </div>   
                    </div>
    
                    <!-- SITE Search -->
                    <div id="search-two"> 
                        <span class="close"></span>
                        <form role="search-two" id="searchform" action="/search" method="get" class="radius-xl">
                            <div class="input-group">
                                <input class="form-control" value="" name="q" type="search" placeholder="Type to search">
                                <span class="input-group-append"><button type="button" class="search-btn"><i class="fa fa-paper-plane"></i></button></span>
                            </div> 
                        </form>
                    </div> 
            
                </div>
            </div>
        </div>                
        
    </header>
    
    </div>



</div>

<!-- Contact Section -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="mb-4" style="text-align: center;">Contact Us</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100" style="border-radius: 15px;">
            <div class="card-body">
              {% comment %} <h2 class="mb-4">Contact Us</h2> {% endcomment %}
              <div class="mb-4">
                <h4>Contact Details</h4>
                <p><i style="color:rgb(243, 130, 24);" class="fas fa-map-marker-alt mr-2"></i>Bejai Church Complex, Mangalore,Karnataka 575 004</p>
                <p class="mt-2"><i style="color:rgb(243, 130, 24);" class="fas fa-envelope mr-2"></i>contact@sunraysol.com</p>
                <p ><i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i>+91 9538010100 <br> <i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i>+91 8050668866 </p>
                {% comment %} <i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i>+91 8050668866 {% endcomment %}
                
              </div>
              {% comment %} <div class="mb-4">
                <h5 >Social Media</h5>
                <ul class="list-unstyled">
                  <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-facebook-square mr-2"></i>Facebook</a></li>
                  <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-twitter-square mr-2"></i>Twitter</a></li>
                  <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-instagram-square mr-2"></i>Instagram</a></li>
                </ul>
              </div> {% endcomment %}
              <div>
                
                <iframe src="https://maps.google.com/maps?q=Basement%2C+Bejai+Church+Complex%2C+Mallikatte%2C+Bejai%2C+Mangaluru%2C+Karnataka+575004&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border-radius:10px; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div>
              
            </div>
            
          </div>
        </div>
  
        <div class="col-lg-4 mb-4">
            <div class="card h-100"  style="border-radius: 15px;">
              <div class="card-body" >
                {% comment %} <h2 class="mb-4">Contact Us</h2> {% endcomment %}
                <div class="mb-4">
                  <h4>Contact Details</h4>
                  <p><i style="color:rgb(243, 130, 24);" class="fas fa-map-marker-alt mr-2"></i>J Star Building, 1st Floor, Near Companypady Metro Station,Aluva,kochi, 683106</p>
                  <p><i style="color:rgb(243, 130, 24);" class="fas fa-envelope mr-2"></i>support@sunraysol.com</p>
                  <p><i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i>+91 7012676115</p>
                  {% comment %} <p><i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i></p> {% endcomment %}
                </div>
                {% comment %} <div class="mb-4">
                  <h5>Social Media</h5>
                  <ul class="list-unstyled">
                    <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-facebook-square mr-2"></i>Facebook</a></li>
                    <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-twitter-square mr-2"></i>Twitter</a></li>
                    <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-instagram-square mr-2"></i>Instagram</a></li>
                  </ul>
                </div> {% endcomment %}
                <div>
                  {% comment %} <iframe src="https://maps.google.com/maps?q=Basement%2C+Bejai+Church+Complex%2C+Mallikatte%2C+Bejai%2C+Mangaluru%2C+Karnataka+575004&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border-radius:10px; width: 100%; height: 290px;" allowfullscreen></iframe> {% endcomment %}
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.111984363201!2d76.34389560000001!3d10.0899096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080f88714197c9%3A0x1d386779195fadaf!2sSunray%20Products%20Pvt%20Limited!5e0!3m2!1sen!2sin!4v1723801559235!5m2!1sen!2sin" frameborder="0" style="border-radius:10px; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>
                
              </div>
              
            </div>
          </div>
          
        <div class="col-lg-4 mb-4">
            <div class="card h-100"  style="border-radius: 15px;">
              <div class="card-body">
                {% comment %} <h2 class="mb-4">Contact Us</h2> {% endcomment %}
                <div class="mb-4">
                <h4>Contact Details</h4>
                  <p><i style="color:rgb(243, 130, 24);" class="fas fa-map-marker-alt mr-2"></i>
                    417A, NV Electricals, Mathamangalam Road, Payyannur, Kannur, Kerala, 670504</p>
                  <p><i style="color:rgb(243, 130, 24);" class="fas fa-envelope mr-2"></i>support@sunraysol.com</p>
                  <p><i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i>+917012891124</p>
                  {% comment %} <p><i style="color:rgb(243, 130, 24);" class="fas fa-phone-alt mr-2"></i>+91 8050668866</p> {% endcomment %}
                </div>
                {% comment %} <div class="mb-4">
                  <h5>Social Media</h5>
                  <ul class="list-unstyled">
                    <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-facebook-square mr-2"></i>Facebook</a></li>
                    <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-twitter-square mr-2"></i>Twitter</a></li>
                    <li><a href="#"><i style="color:rgb(243, 130, 24);" class="fab fa-instagram-square mr-2"></i>Instagram</a></li>
                  </ul>
                </div> {% endcomment %}
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.171377040284!2d75.2767167!3d12.100417499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba46b000cb1b27b%3A0x4e4077380f55a054!2sN%20V%20Electricals%20%26%20Plumping%2C%20Kadannappally!5e0!3m2!1sen!2sin!4v1723802523469!5m2!1sen!2sin" frameborder="0" style="border-radius:10px; width: 100%; height: 290px;" allowfullscreen></iframe>
                 
                </div>
                
              </div>
              
            </div>
          </div>
    </div>
  </section>
  
<!-- Footer -->
<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p>&copy; 2024 SunRay. All rights reserved.</p>
    <span class="copyrights-text" style="font-size: 13px;"> Powered by:<span > <a target="_blank" rel="noopener noreferrer" style="color: #ff5e15;" href="http://dhanwis.com/">Dhanwis TechInfo Solutions</a> </span></span>
  </div>
</footer>

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<!-- Google Maps API -->
<script>
  function initMap() {
    // The location of the company
    var companyLocation = { lat: 40.7128, lng: -74.0060 };
    // The map, centered at companyLocation
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: companyLocation
    });
    // The marker, positioned at companyLocation
    var marker = new google.maps.Marker({
      position: companyLocation,
      map: map
    });
  }
</script>
<!-- Replace YOUR_API_KEY with your Google Maps API key -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script src="{% static 'js/stellar.min.js' %}"></script><!-- PARALLAX BG IMAGE   -->
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/lc_lightbox.lite.js' %}"></script><!-- IMAGE POPUP -->
<script src="{% static 'js/switcher.js' %}"></script><!-- SHORTCODE FUCTIONS  -->

<!-- REVOLUTION JS FILES -->

<script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution-plugin.js' %}"></script>

<!-- REVOLUTION SLIDER SCRIPT FILES -->
<script src="{% static 'js/rev-script-11.js' %}"></script>
</body>
</html>
