{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">    
    <meta name="description" content="">
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    
    <!-- PAGE TITLE HERE -->
    <title>SunRay-Projects</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">    
    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.min.css' %}">    
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
        <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.min.css' %}"> 
    
    <!-- IMAGE POPUP -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lc_lightbox.css' %}">
    
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'css/skin/skin-1.css' %}">
    <!-- SIDE SWITCHER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/switcher.css' %}">  
     
 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">
        
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&amp;display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap" rel="stylesheet"> 
  <style>
    /* Custom styles here */
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
<div>
<!-- Navigation -->
<div>
    <!-- Navigation -->
    <header class="site-header header-style-11  mobile-sider-drawer-menu">
        <div class="header-style-11-content" style="margin-top: -50px;" >
             <div class="header-middle-wraper">     
                <div class="container">
                    <div class="header-middle d-flex justify-content-between align-items-center">
                        <div class="logo-header pt-3 pb-3">
                            <div class="logo-header-inner logo-header-one">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'images/extra/logo.png' %}" alt="" width="200px" height="160px"  style="margin-top:30px;">
                                </a>
                            </div>
                        </div>
                        
                        
                        <div class="header-info-wraper" style="margin-top: 25px;" >
                            <div class="header-info">
                                <ul>
                                    <li>
                                        <div class="wt-icon-box-wraper left" style="margin-right: 60px; margin-top: 15px;">
                                            <div class="wt-icon-box-xs site-bg-primary radius">
                                                <span class="icon-cell site-text-white"><i class="fa fa-envelope"></i></span>
                                            </div>
                                            <div class="icon-content">
                                                <p style="text-align: left;font-size: 14px;">Send Us Email</p>
                                                <h4 class="wt-tilte">  <a href="mailto:contact@sunraysol.com">contact@sunraysol.com</a></h4>
                                              <br>
                                              
                                            </div>
                                        </div>
                                    </li>   
                                                                 
                        
                                    <li>
                                        <div class="wt-icon-box-wraper left">
                                            <div class="wt-icon-box-xs site-bg-primary radius">
                                                <span class="icon-cell site-text-white"><i class="fa fa-phone"></i></span>
                                            </div>
                                            <div class="icon-content">
                                                <p style="text-align: left;font-size: 14px;">Get Quick Support </p>
                                                <h4 class="wt-tilte" style="text-align: left" >Tel: 0824 2215291 ,Mob:9538010100-karnataka<br>
                                               <span >Mob:7907668181-Kerala</span> </h4>
                
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
                </div>
             </div>
            <div class="header-bottom"> 
                
                <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                
                    <div class="main-bar header-bottom">
                        <div class="container-block clearfix">
    
                            <div class="navigation-bar">
                                <!-- NAV Toggle Button -->
                                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar icon-bar-first"></span>
                                    <span class="icon-bar icon-bar-two"></span>
                                    <span class="icon-bar icon-bar-three"></span>
                                </button> 
        
                                <!-- MAIN Vav -->
                                <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-between">
                            
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'index' %}">Home</a>

                                        </li>

                                        <li><a href="{% url 'about' %}">About</a>

                                        </li>
                                        <li><a href="{% url 'services' %}">Gallery</a>

                                        </li>
                                        <li><a href="{% url 'project_list' %}">Project</a></li>

                                        <li><a href="{% url 'contacts' %}">Contact us</a></li>
                                    </ul>
        
                                </div>
                                
                                <!-- Header Right Section-->
                                {% comment %} <div class="extra-nav header-1-nav">
                                    <!-- <div class="extra-cell one">
                                        <div class="header-search">
                                            <a href="#search-two" class="header-search-icon"><i class="fa fa-search"></i></a>
                                        </div>    
                                    </div> -->
                                    <div class="extra-cell two">
                                        <div class="extra-cell one">
                                            <div class="header-search">
                                                <a href="#search-two" class="header-search-icon"><i class="fa fa-search"></i></a>
                                            </div>    
                                        </div>
                                        
                                        <div class="cart-dropdown-item-wraper clearfix">
                                            <div class="nav-cart-content">
                                                
                                                <div class="nav-cart-items p-a15">
                                                    <div class="nav-cart-item clearfix">
                                                        <div class="nav-cart-item-image">
                                                            <a href="#"><img src="{% static 'images/home-11/cart/pic-1.jpg' %}" alt="p-1"></a>
                                                        </div>
                                                        <div class="nav-cart-item-desc">
                                                            <span class="nav-cart-item-price"><strong>2</strong> x $19.99</span>
                                                            <a href="#">Heavy helmet</a>
                                                            <a href="#" class="nav-cart-item-quantity radius-sm">x</a>
                                                        </div>
                                                    </div>
                                                    <div class="nav-cart-item clearfix">
                                                        <div class="nav-cart-item-image">
                                                            <a href="#"><img src="{% static 'images/home-11/cart/pic-1.jpg' %}" alt="p-2"></a>
                                                        </div>
                                                        <div class="nav-cart-item-desc">
                                                            <span class="nav-cart-item-price"><strong>1</strong> x $24.99</span>
                                                            <a href="#">Power drill</a>
                                                            <a href="#" class="nav-cart-item-quantity radius-sm">x</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nav-cart-title p-tb10 p-lr15 d-flex">
                                                    <h4 class="m-a0">Subtotal:</h4>
                                                    <h5 class="m-a0">$67.97</h5>
                                                </div>
                                                <div class="nav-cart-action p-a15 d-flex justify-content-start">
                                                    <button class="site-button" type="button">View Cart</button>
                                                    <button class="site-button-secondry" type="button">Checkout </button>
                                                </div>
                                            </div>
                                        </div>                            
                                    </div>                                
                                </div>  {% endcomment %}
    
                            </div>
                            
                        </div>   
                    </div>
    
                    <!-- SITE Search -->
                    <div id="search-two"> 
                        <span class="close"></span>
                        <form role="search-two" id="searchform" action="/search" method="get" class="radius-xl">
                            <div class="input-group">
                                <input class="form-control" value="" name="q" type="search" placeholder="Type to search">
                                <span class="input-group-append"><button type="button" class="search-btn"><i class="fa fa-paper-plane"></i></button></span>
                            </div> 
                        </form>
                    </div> 
            
                </div>
            </div>
        </div>                
        
    </header>
    
    </div>



</div>



<!-- body starts here -->
    




<section class="section gray-bg" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2 id="heading">Our Works Gallery </h2>
                    <p id="paragraph">Explore our gallery showcasing completed projects, highlighting our expertise in delivering quality solar installations tailored to meet diverse energy needs</p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">25 MAY</div>
                        <a href="#">
                            <img src="{% static 'images/extra/project_images/1.jpeg' %}" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">dOWN tOWN aPT. Mangalore-33 Kwp</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">25 MAY</div>
                        <a href="#">
                            <img src="{% static 'images/extra/project_images/2.jpg' %}" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">NTPC-TATA Kayamkulam 105 MW</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">25 MAY</div>
                        <a href="#">
                            <img src="{% static 'images/extra/project_images/3.jpg' %}" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">TATA-CIAL, Payyannur,Kerala -12MW</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>





<!-- BOOTSRTAP GALLERY -->

<div class="container">

     <h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="font-size: 50px;" id="heading">Rooftop projects </h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/galleryone .jpeg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/galleryone (2).jpeg' %}" alt="">
        </a>
      </div>
      
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/img5.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/img7.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/img20.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/galleryimg9.jpeg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/galleryimg10.jpeg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/galleryimg8.jpeg' %}" alt="">
        </a>
      </div>
     
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/imageeee.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/image2.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/image3.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/img21.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/Picture6.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/Picture5.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/image10.jpg' %}" alt="">
        </a>
      </div>
      
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/GAFOOR.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery39.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery38.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery37.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery36.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery41.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery32.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery31.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'images/new datas/gallery/gallery30.jpg' %}" alt="">
        </a>
      </div>
    </div>
  
  </div>
  <div class="container">
    <div style="text-align: center; margin-bottom: 20px; font-size: 2rem; font-weight: bold;" id="heading">O&M Projects</div>
    <hr class="mt-2 mb-5">

    <!-- Rows -->
    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 1 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/mnglr.jpg' %}" class="card-img-top" alt="BIGBAGS 4MWp ROOFTOP SOLAR PLANT , MANGALORE" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">BIGBAGS 4MWp ROOFTOP SOLAR PLANT , MANGALORE</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/CIALKERALA.jpg' %}" class="card-img-top" alt="CIAL SOLAR POWER PLANT , KERALA" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">12MW CIAL SOLAR POWER PLANT , KERALA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 2 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/Wp SOLAR POWER PLANT .jpeg' %}" class="card-img-top" alt="SOLAR POWER PLANT , KERALA" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">CIAL 12MWp SOLAR POWER PLANT , KERALA</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/CIAL FLOATING SOLAR POWER PLANT , COCHIN.jpg' %}" class="card-img-top" alt="CIAL FLOATING SOLAR POWER PLANT , COCHIN" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">CIAL FLOATING SOLAR POWER PLANT , COCHIN</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 3 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/NTPC 105MWp FLOATING SOLAR POWER PLANT, KERALA.jpg' %}" class="card-img-top" alt="FLOATING SOLAR POWER PLANT, KERALA" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">NTPC 105MWp FLOATING SOLAR POWER PLANT, KERALA</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/NTPC 30MWp FLOATING SOLAR POWER PLANT, KERALA.jpg' %}" class="card-img-top" alt="Drone IR Thermography" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">NTPC 30MWp FLOATING SOLAR POWER PLANT, KERALA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 4 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/THDC 65MWp SOLAR POWER PLANT , KERALA (1) (1).jpg' %}" class="card-img-top" alt="Floating Solar Plant" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">THDC 65MWp SOLAR POWER PLANT , KERALA</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/1 MWp ROOFTOP SOLAR POWER PLANT , GOA.jpg' %}" class="card-img-top" alt="Large Scale Solar" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">1 MWp ROOFTOP SOLAR POWER PLANT , GOA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 5 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/AMPIN 140MWp FLOATING SOLAR POWER PLANT, MADHYA PRADESH.jpg' %}" class="card-img-top" alt="Solar Plant" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">AMPIN 140MWp FLOATING SOLAR POWER PLANT, MADHYA PRADESH</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/CIAL 6MWp SOLAR POWER PLANT ,KERALA.jpg' %}" class="card-img-top" alt="Solar Plant" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">CIAL 6MWp SOLAR POWER PLANT ,KERALA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 6 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/CIAL 14.4 MWp SOLAR POWER PLANT, COCHIN.jpg' %}" class="card-img-top" alt="CIAL 14.4 MWp SOLAR POWER PLANT, COCHIN" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">CIAL 14.4 MWp SOLAR POWER PLANT, COCHIN</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/PRECOT MERIDIEN 5MW,KERALA.jpg' %}" class="card-img-top" alt="PRECOT MERIDIEN 5MW,KERALA" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">PRECOT MERIDIEN 5MW,KERALA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
        <!-- Row 7 -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/EESL MWp SOLAR POWER PLANT, GOA.jpg' %}" class="card-img-top" alt="EESL MWp SOLAR POWER PLANT, GOA" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">EESL 1MWp SOLAR POWER PLANT, GOA</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/omimg/TATA MOTORS 9MWp SOLAR CARPORT, PUNE (1).jpg' %}" class="card-img-top" alt="TATA MOTORS 9MWp SOLAR CARPORT, PUNE" 
                     style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">TATA MOTORS 9MWp SOLAR CARPORT, PUNE</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- BOOTSRTAP GALLERY END -->


<!-- body ends here -->


<!-- Footer -->
<footer class="bg-dark text-white py-4">
  <div class="container text-center ">
    <p>&copy; 2024 SunRay. All rights reserved.</p>
    <span class="copyrights-text" style="font-size: 13px;"> Powered by:<span > <a target="_blank" rel="noopener noreferrer" style="color: #ff5e15;" href="http://dhanwis.com/">Dhanwis TechInfo Solutions</a> </span></span>
  </div>
</footer>
<!-- Footer ends -->

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<!-- Google Maps API -->
<script>
  function initMap() {
    // The location of the company
    var companyLocation = { lat: 40.7128, lng: -74.0060 };
    // The map, centered at companyLocation
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: companyLocation
    });
    // The marker, positioned at companyLocation
    var marker = new google.maps.Marker({
      position: companyLocation,
      map: map
    });
  }
</script>
<!-- Replace YOUR_API_KEY with your Google Maps API key -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script src="{% static 'js/stellar.min.js' %}"></script><!-- PARALLAX BG IMAGE   -->
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/lc_lightbox.lite.js' %}"></script><!-- IMAGE POPUP JS -->
<script src="{% static 'js/lightslider.min.js' %}"></script><!-- IMAGE GALLERY JS -->
<script src="{% static 'js/lottie.min.js' %}"></script><!-- LOADING JS -->
<script src="{% static 'js/main.js' %}"></script><!-- MAIN JS -->
<script src="{% static 'js/theme.js' %}"></script><!-- THEME JS -->
<script src="{% static 'js/switcher.js' %}"></script><!-- SWITCHER JS -->
</body>
</html>
